.course-content-container{
    display: flex;
    justify-content: center;
}
.course-panale-colasp{
    display: none;
}
.course-panale-expand{
    display: block;
    border-top: 1px solid #d1d7dc;
    /* background-color: rgb(209, 171, 171); */
}
.course-panel-section{
    /* background-color: rgb(139, 139, 139); */
    border-top: 1px solid #d1d7dc;
    cursor:pointer;
}
.course-panel-item{
    background-color:#f7f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.course-panel-lecture-container{
    padding: 20px 20px 0 20px;
}
.course-panel-lecture{
    display: flex;
    align-items: center;
    padding:0 0 15px 0;
}
.course-panel-lecture span{
    margin-left:10px;
}
.course-panels{
    /* border-top: 1px solid; */
    border-left:1px solid #d1d7dc;
    border-right:1px solid #d1d7dc;
    border-bottom: 1px solid #d1d7dc;;
}
.btn-show-more{
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    background-color: #F5F5F5;
    height: 30px;
    border: 1px solid;
}
.btn-show-more:hover{
    background-color: #cecdcd;
}