.student-also-bought-container{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}
.student-also-bought-courses{
    width: 100%;
}
.student-also-bought-courses .line{
    border-bottom: 1px solid #d1d7dc;
    margin-top: 10px;
}
.btn-show-more-students-bought{
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: #F5F5F5;
    height: 30px;
    border: 1px solid;
}