.grid-container{
    display:grid;
    /* gap: 40px; */
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
    /* padding: 10px; */
    width: 80%;
    margin-left: 220px;
}
.grid-item{
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 30px;
}
.grid-item img:hover{
    object-fit: cover;
}
.grid-item img:hover{
    transform: scale(1.04);
}
.top-categories-cart span{
    font-size: 16px;
    font-weight: bold;
}