.preview-course-cart-container{
    display: flex;
    justify-content: center;
    width: 300px;
    height:900px;
    /* overflow: auto; */
    /* height:inherit; */
    /* background-color: rgb(161, 236, 99); */
    box-shadow: 0 0 5px 5px rgb(212, 219, 241);
    /* position:sticky;
    top:0; */
}
.preview-course-cart-details{
    margin-left: 20px;
}
.btn-pre-add-cart{
    height: 40%;
    width: 80%;
    border: none;
    color: white;
    padding: 16px 80px;
    text-align: center;
    text-decoration:none;
    font-size: 16px;
    cursor: pointer;
    background-color: blueviolet;
}
.btn-pre-add-cart:hover{
    
    background-color: rgb(164, 81, 241);
}
.heart-container{
    margin-left: 20px;
    border: 1px solid;
}
.heart-container:hover{
    background-color: aliceblue;
}
.btn-buy-now-cart{
    width: 100%;
    margin-top: 20px;
    border: 1px solid;
    background-color: white;
    padding: 16px 80px;
    text-align: center;
    text-decoration:none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}
.btn-buy-now-cart:hover{
    background-color: aliceblue;
}
.share-gift-coupon{
    display: flex;
    justify-content: space-between;
}
.btn-udemy-business{
    width: 100%;
    margin-top: 5px;
    border: 1px solid;
    background-color: white;
    padding: 16px 80px;
    text-align: center;
    text-decoration:none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}