.login-container{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.login-detiales{
    width:360px;
    /* background-color: rgb(241, 248, 201); */
    
}

.facebook-login-button,.google-login-button,.apple-login-button{
    /* margin-left: 10px; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    width:100%;
    border: 1px solid;
    cursor: pointer;
    /* box-shadow: 1px 0 1px 0 rgb(206, 193, 193); */
}
.facebook-login-button p,.google-login-button p,.apple-login-button p{
    margin-left: 10px;
}
.facebook-icon-login,.google-icon-login,.apple-icon-login,.email-login-icon,.password-login-icon{
    width: 25px;
    height: 25px;
    padding-left: 10px;
}
.facebook-icon-login{
    color: blue;
}
.google-icon-login{
    color:red;
}
.email-login-icon,.password-login-icon{
    color:#6a6f73;
}
.email-input,.password-input{

    width:100%;
    height: 95%;
    border: 0;
}
.email-input:focus,.password-input:focus{
    outline:none;
}
.email-input-container,.password-input-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width:100%;
    height: 50px;
    border: 1px solid;
    padding: 0;
}
.inputs-container{
    width:100%;
    border: 1px solid transparent;
    padding: 0;
}
.button-login-container{
    margin-top: 10px;
    width:100%;
    border: 1px solid transparent;
}
.button-login{
    width:100%;
    height: 50px;
    background-color: rgb(146, 65, 223);
    color: white;
    font-size: large;
    border: 0;
}
.forget-password{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    line-height: 2rem;
}