.sign-up-conditions{
    display: flex;
}
/* .sign-up-conditions p{
    margin: 0;
} */
.sign-up-conditions input{
    width: 50px;
    height: 50px;
}
.sign-up-container{
    display: flex;
    justify-content: center;
}
.sign-up-detiales{
    width: 360px;
    /* background-color: rgb(241, 248, 201); */   
}
.button-login{
    cursor: pointer;
}