.categorie-sub-two{
    /* background-color: aquamarine; */
    width: 300px;
}
.categorie-sub-two ul li:hover{
    color: aqua;
    cursor: pointer;

}
.categorie-sub-two ul{
    list-style-type: none;
    /* list-style:none; */
    /* margin:0; */
    padding-right: 5px;
}
