#A {
    --display-blook:none;
    --color:rgb(255, 255, 255);
}
.cart,.categorie-sub-one{
    display: var(--display-blook);
    opacity: 0;
}
.categories:hover .cart{
    display: block;
    /* position: relative; */
    /* background-color: rgb(253, 253, 253); */
    position:absolute;
    margin-top: 220px;
    /* margin-right: 100px; */
    /* width: 150px; */
    opacity: 1;
    z-index: 1;
}

.categorie-sub-two{
    /* display:flex; */
    /* position: relative; */
    background-color: var(--color);
    /* position:relative; */
    /* float:right; */
    margin-right: 10px;
    /* margin-top: -81px; */
    /* height: 150px; */
    width: 150px;
    opacity: 1;
}

.categories-subs{
    display:flex;
    /* height: 200px; */
    margin-top: 10px;
    /* justify-content:space-between; */
    /* width: 470px; */
}

