.student-feedback-container{
    display: flex;
    justify-content: center;
}
.student-feedback-rate{
    display: flex;
}
.review-student-feedback{
    display: flex;
    align-items: center;
    width:450px;
    margin-bottom:0.5rem;
}
.slide-bar-student-feedback{
    background-color: #d1d7dc;
    height:0.6rem;
    position: relative;
    width:300px;
    margin-right:0.4rem;
}
.slide-bar-student-feedback-amount{
    height: 0.6rem;
    background-color: #6a6f73;
    position: absolute;
}
.avrage-student-feedback-amount{
    font-size: 4rem;
}