.container-courses{
    display:flex;
    justify-content: center;
    /* background-color: aqua; */
    width: 100%;
}
.container-courses .content{
    /* background-color: rgb(131, 192, 18); */
    width: 75%;
}
.btn-explore{
    height: 40px;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
}
.btn-explore:hover{
    background-color: rgb(236, 236, 236);
}