.search{
    background-color:white;
    height: 50px;
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    border: 1px solid;
    border-radius:50px;
    
}
.search input{
    margin :0 auto;
    width:90%;
    height: 90%;
    border: 0;
    outline: 0;
    margin-right:2%;
    font-size:14px;
    /* background-color: brown; */
}
.search-icon{
    /* background-color: aqua; */
    margin-left: 2%;
    width: 30px;
    height: 30px;
    cursor:no-drop;
}