.instructor-cart{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.description-cart{
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    width: 30%;
}
.description-cart button{
    background-color: black;
    height:50px;
    font-size: larger;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}