.container{
    background-color: rgb(242, 243, 233);
    width: 250px;
}
.container img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.dots{
    color: brown;
    width: 20px;
    height: 20px;
    /* background-color: brown; */
}
.items{
    background-color: rgb(233, 178, 178);
}