/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  
} */
:root{
  --margin:300px;
}
/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
  /* margin: 50px; */
  padding: 0;
  /* overflow:visible; */
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  color: coral;
  /* left: 100px; */
}
.swiper-button-prev {
  color: coral;
  left: -20px;
}

.slider-content{
  display:flex;
  justify-content: center;
}

.cart-course-slide{
  position: relative;
}

.cart-buy-course{
  /* display: none; */
  /* visibility: hidden; */
  /* position:absolute; */
  /* width:40%; */
  z-index:50;
  /* margin-left: var(--margin); */
  /* left:650px; */
}
.cart-buy-course-hidden{
  visibility: hidden;
}
#arrow,
#arrow::before {
  position: absolute;
  width: 50px;
  height: 50px;
  background: inherit;
  border-radius: 2px;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}